<div class="substrate-layer registration-substrate-layer">
	<div class="registration-popup">
		<button id="registration-popup-close-button" class="close-button">
			<img
				src={{asset "images/icons/close-button-icon.svg"}}
				alt="close icon"
			/>
		</button>
		<div class="registration-popup-top">
			<span>Приєднатися до </span>
			<img
				src={{asset "images/registration-popup-logo.svg"}}
				alt="company logo"
			/>
		</div>
		<div class="registration-popup-buttons">
			<button
				id="linkedin-registration"
				class="social-media-registration-button"
			>
				<img
					class="social-media-registration-button-icon"
					src={{asset "images/icons/linkedIn-registration-icon.svg"}}
					alt="linkedin logo icon"
				/>
				<span>Реєстрація через LinkedIn</span>
				<img
					class="social-media-registration-button-arrow"
					src={{asset "images/icons/right-arrow-icon.svg"}}
					alt="icon arrow with right direction"
				/>
			</button>
			<button id="google-registration" class="social-media-registration-button">
				<img
					class="social-media-registration-button-icon"
					src={{asset "images/icons/google-registration-icon.svg"}}
					alt="google logo icon"
				/>
				<span>Реєстрація через Google</span>
				<img
					class="social-media-registration-button-arrow"
					src={{asset "images/icons/right-arrow-icon.svg"}}
					alt="icon arrow with right direction"
				/>
			</button>
			<button
				id="facebook-registration"
				class="social-media-registration-button"
			>
				<img
					class="social-media-registration-button-icon"
					src={{asset "images/icons/facebook-registration-icon.svg"}}
					alt="facebook logo icon"
				/>
				<span>Реєстрація через Facebook</span>
				<img
					class="social-media-registration-button-arrow"
					src={{asset "images/icons/right-arrow-icon.svg"}}
					alt="icon arrow with right direction"
				/>
			</button>
		</div>
		<div class="registration-popup-bottom">
			Продовжуючи, ти погоджуєшся з умовами
			<a href="/">Публічної оферти</a>
			та
			<a href="/">Політикою Конфіденційності</a>.
		</div>
	</div>
</div>